.signUpModal {
    z-index: 110;
    position: absolute;
    visibility: visible;
    background-color: #2b2462;
    background-image: linear-gradient(to bottom right, #3a2ca7, #d15d0a);
  margin: 0px;
  height: 100%;
  width: 100%;
}

.modalContent { 
    position: relative;   
    padding: 24px 24px;
  background-color: #FFFBFC;
  border-radius: 8px;
  margin: 2% auto;
  width: 60%;
  height: auto;
}