@font-face {
    font-family: 'Abril Fatface', serif;
    src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
}

#banner {
    overflow: auto;
    background-color: #950952;
    padding: 0px;
    margin: 0px;
}

#backsplash {
    height: 100%;
    width: 100%;
}

#landing-overlay {
    display: inline;
    position: absolute;
    padding: 36px;
    right: 12%;
    top: 20%;
    background-color: #FFFBFC;
    border-radius: 12px;
    box-shadow: 0px 4px 8px grey;
    
}

#landingTag {
    color: black;
    font-family: Raleway;
}

#humaaans {
    width: 600px;
    height: 400px;
    float: right;
    
}

h1 {
    font-family: Abril Fatface;
    color: #FFFBFC;
    font-size: 48px;
    letter-spacing: 5px;
}

h2, h3 {
    color: white;
    font-family: Raleway;
}

h3 {
    font-weight: normal;
}

p {
    font-family: Raleway;
    color: black;
    font-size: 22px;
    line-height: 40px; 
}