#pageDiv {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom right, #3a2ca7, #d15d0a);
}

#modalDiv {
    position: absolute;
    text-align: center;
    background-color: #fffbfc;
    border-radius: 16px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    height: auto;
    min-height: 300px;
    width: 50%;
    min-width: 300px;
}

#resetPasswordButton:hover {
    color: white;
    background-color: #2b2462;
    text-decoration: underline;
}

#formDiv {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

#successDiv {
    height: 100%;
    width: 100%;
    margin: 0px 0px;
    position: absolute;
    top: 0px;
    visibility: hidden;
}

#checkmark {
    height: 80px;
    width: 80px;
    margin: 16px auto;
}