

@font-face {
    font-family: 'Abril Fatface', serif;
    src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
}

#container {
    
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #FFFBFC;
    border-bottom: 4px solid #2B2462;
    height: 64px;
    width: 100%;
}

#logoDiv {
    position: relative;
    display: inline-flex;
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
    line-height: 70px;
    align-items: center;
    vertical-align: middle;
}

#titleBanner {
    color: #2b2462;
    margin-right: 8px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#bell {
    float: right;
    margin: auto auto;
    margin-top: 10px;
    margin-right: 16px;
    padding: 0px;
    width: 46px;
    height: 46px;
}

#linkContainer {
    position: absolute;
    display: inline;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttons {
    position: absolute;
    height: 100%;
    line-height: 64px;
    right: 0%;
}
/*
button {
    width: 100px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin-right: 40px;

    transition: font-size 0.5s ease;
}*/

#login {
    padding: 8px 12px;
    margin: 16px;
    background-color: #2B2462;
    border-radius: 8px;
    color: #FFFBFC;
    border: 3px solid #FFFBFC;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}

#login:hover {
    background-color: #2B2462;
    border: 3px solid #FA9F42;
    color: #FA9F42;
    text-decoration: underline;
    transition: background-color 0.5s ease;
}

#signUp {
    padding: 8px 12px;
    margin: 16px;
    background-color: #FFFBFC;
    border-radius: 8px;
    color: #2B4162;
    border: 3px solid #FFFBFC;

    transition: background-color 0.5s ease;
}

#signUpButton {
    background-color: #2b2462;
}

#loginButton {
    color: #2b2462;
}
/*
#signUp:hover {
    border-color: #FA9F42;
    background-color: #FA9F42;
    color: #2B2462;
    text-decoration: underline;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}*/

.link {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 40px;
    color: #2b2462;
    text-decoration: none;
    border: none;
    transition: color 0.1s linear;
}

.link:hover {
    color: #fa9f42;
    
}

.modal {
    z-index: 110;
    position: absolute;
    visibility: hidden;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(43, 36, 98, 0.9);
}

.modalContent {    
    text-align: center;
    align-items: center;
    padding: 24px 24px;
  background-color: #FFFBFC;
  border-radius: 8px;
  box-shadow: 0px 4px 8px grey;
  margin: 8% auto;
  width: 30%;
}

#exit {
    position: absolute;
    margin: 24px;
    padding: 0px;
    top: 0px;
    right: 0px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: grey;

}

#exit:hover {
    cursor: pointer;
}

.submitButton {
    color: #2b2462;
    background-color: #2b2462;
}

.Button {
    color: #2b2462;
}


