

@font-face {
    font-family: 'Abril Fatface', serif;
    src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
}

/*Mobile view*/
#nav {
    display: none;
}

@media only screen and (min-width: 900px) {
#nav {
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #fffbfc;
    height: 64px;
    width: 100%;
    border: none;
}

#desktop-message-delivery {
    position: absolute;
    display: block;
}

#mobile-message-overlay {
    display: none;
}

#logoDiv {
    position: relative;
    display: inline-flex;
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
    line-height: 70px;
    align-items: center;
    vertical-align: middle;
}

#loggedInDiv {
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 64px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

#titleBanner {
    color: #0624c3;
    margin-right: 8px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Sansita", sans-serif;
}

#bell {
    float: right;
    margin: auto auto;
    margin-top: 10px;
    margin-right: 16px;
    padding: 0px;
    width: 46px;
    height: 46px;
}

#loggedInBell {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 10px;
    margin-left: 24px;
    color: white;
}

#linkContainer {
    position: absolute;
    display: inline;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchContainer {
    position: absolute;
    display: inline;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}

#buttons {
    position: absolute;
    height: 100%;
    line-height: 64px;
    right: 0%;
}

#login {
    padding: 8px 12px;
    margin: 16px;
    background-color: #2B2462;
    border-radius: 8px;
    color: #FFFBFC;
    border: 3px solid #FFFBFC;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}

#signUpButton {
    margin: 16px;
    background-color: #0624c3;
    
}

#loginButton {
    margin: 16px;
    color: #2b2462;
}

#logoutButton {
    float: right;
    top: 16px;
    right: 12px;
    background-color: white;
    color: #2b2562;
}

.link {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 40px;
    color: #0624c3;
    text-decoration: none;
    border: none;
    transition: color 0.1s linear;
}

.link:hover {
    color: #fa9f42;
    
}

.modal {
  z-index: 110;
  display: inline-block;
  position: absolute;
  visibility: hidden;
  margin: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(43, 36, 98, 0.9);
}

.modalContent {    
  text-align: center;
  background-color: #FFFBFC;
  border-radius: 8px;
  box-shadow: 0px 4px 8px grey;

  height: 500px;
  width: 300px;
}

#exit {
    position: absolute;
    margin: 24px;
    padding: 0px;
    top: 0px;
    right: 0px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: grey;

}

#exit:hover {
    cursor: pointer;
}

.Button {
    color: #2b2462;
}

}


