.form-container {
    position: relative;
    width: 95%;
    height: 100%;
    background-color: orangered;
    border-radius: 15px;
    align-items: center;
    vertical-align: middle;
}

form {    
    align-items: center;
    align-content: center;
}

label {
    padding-left: 10px;
}

input {
    padding: 10px;
    margin: 20px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid white;
}

input:focus {
    border-bottom: 2px solid black;
}

#submit-button {
    border: none;
    border-radius: 15px;
    background-color: white;
}

